* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root {
    --background1:#060b14;
    --background2:#F8F8F8;
    --text1:#4AC9AA;
    --hover1:#5c887d;
    --text2:#C1CBF4;
    --text3:#757EA0;
}
body {
    height:100vh;
    width:100vw;
    overflow: hidden;
}

/* home styles */
.home-body {
    height:inherit;
    width:inherit;
    display: flex;
}
.body-left {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background2);
}
.body-left-top {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.profile-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.body-left-bottom {
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0 30px;
}
.body-left-bottom h1 {
    font-size: 4.3rem;
}
.body-left-bottom p {
    font-size: 1.4rem;
}
.langs {
    display: flex;
    gap: 5px;
}
.langs .fa-brands {
    font-size: 25px;
}

.body-right {
    width: 50%;
    height: 100vh;
}
.body-right-top {
    height: 8vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}
.body-right-top .fa-solid {
    font-size: 25px;
}
.body-right-bottom {
    height: 92vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    padding-bottom: 5vh;
}
.body-right-bottom h3 {
    color: var(--text3);
    font-weight: 800;
}
.projects {
    height: max-content;
    padding: 10px 20px;
}
.projects-hero {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.projects-link {
    height: 200px;
    width: 100%;
    display: flex;
    gap: 20px;
}
.projects-link img {
    height: 180px;
    width: 220px;
    object-fit: cover;
}
.projects-content {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.links {
    display: flex;
    gap: 30px;
}
.links a {
    text-decoration: none;
    color: white;
    background-color: var(--background1);
    padding: 5px 10px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    border: 2px solid var(--background1);
    font-size: 600;
}
.links a:hover {
    background-color: #fff;
    color: var(--background1);
    border: 2px solid var(--background1);
}
.about-link {
    text-decoration: none;
    border: 2px solid;
    height: 6vh;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #000;
    font-size: 600;
}
.about-link:hover {
    color: var(--background2);
    background-color: #000;
    border: 1px solid #000;
}
.home-header {
    display: flex;
    padding-left: 20px;
    align-items: center;
    height: 10vh;
}
.home-header .icon {
    text-decoration: none;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(128, 128, 128, 0.795); 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: rgba(226, 226, 226, 0.822); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #B2BEB5; 
  }


/* projects body */ 



/* about page */
.about-body {
    height:100vh;
    width:100vw;
    overflow:hidden;
    background-color: var(--background2);
    color: black;
}
.about-hero {
    height:90vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:50px;
    overflow-y: scroll;
}
.about-hero p {
    width:500px;
    max-width:90vw;
    height:max-content;
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    text-align: center;
    font-size: 1.1rem;
}

/* about page */
